{{define "title"}}Login{{end}}

{{define "main"}}

<form action="/login" method="post">
  <label>
    Email
    <input type="email" name="email">
  </label>
  <label>
    Password
    <input type="password" name="password">
  </label>
  <button type="submit" value="Login">Login</button>
</form>
{{end}}
